<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Main Suite" verbose="1" parallel="false">
    <test name="Check Existing Fixtures">
        <classes>
            <class name="tests.Test_CheckExistingFixtures"/>
        </classes>
    </test>

    <test name="Add Fixtures">
        <classes>
            <class name="tests.Test_AddFixtures"/>
        </classes>
    </test>

    <test name="Update Result">
        <classes>
            <class name="tests.Test_UpdateResults"/>
        </classes>
    </test>
</suite>
