<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Main Suite" verbose="1" parallel="false">
    <test name="Process Today">
        <parameter name="day" value="today"/>
        <classes>
            <class name="tests.Test_ProcessDay"/>
        </classes>
    </test>

    <test name="Process Tomorrow">
        <parameter name="day" value="tomorrow"/>
        <classes>
            <class name="tests.Test_ProcessDay"/>
        </classes>
    </test>

    <test name="Update Result">
        <classes>
            <class name="tests.Test_UpdateResults"/>
        </classes>
    </test>
</suite>
